
header {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  max-width: 100%;
  
  background-color: #AB2A19;
  height: 10vh;
}

.headerdiv {
  margin-left: 150px;
}


 .App {
   display: flex;
   flex-direction: column;
 }
 .intList {
   margin:10px;
 }


 ul {
   list-style: none;
   margin: auto;
 }
 
 li {
   list-style: none;
 }
 
 .headerbtn1 {
   display: flex;
   align-items: center;
   text-align: center;
   color: black;
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   font-size: 1rem;
   max-width: 100%;
   margin-left: 100px;
   background-color: #ED6B5A;
   border-radius: 10%;
   height: 50px;
 }
 .headerbtn2 {
   display: flex;
   /* justify-content: center; */
   align-items: center;
   text-align: center;
   color: black;
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   font-size: 1rem;
   max-width: 100%;
   margin-left: 5px;
   background-color: #ED6B5A;
   border-radius: 10%;
   height: 50px;
 }


 .Dashboardbox {
   margin-left: 750px;
   padding-top: 10px;
   
   /* width: 200px;
  height: 200px; */
   

 }
 .product {
  width: 400px;
  height: 200px;
  margin-bottom: 10px;
  padding-top: 10px;
  background-color: #D34735;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5%;
}

.product img {
  height: 180px;
  width: 180px;
  max-width: 180px;
  max-height: 180px;
}
#delete {
  background-color: #3AD886;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
#edit {
  background-color: #3AD886;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.btsm {
 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.formBox {
  height: 400px;
  width: 400px;
  margin-left: 750px;
  padding-top: 10px;
  margin-top: 50px;
  border-radius: 5%;
  background-color: #3AD886;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.formBox img {
  height: 180px;
  width: 180px;
  max-width: 180px;
  max-height: 180px;


}

form {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
}
form input {
  background-color: white;
  height: 20px;
  width: 300px;
  display: flex;
  justify-content: flex-end;
}

.formbtns{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.btn1 {
  color: black;
  background-color: #ED6B5A ;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border-radius: 10%;
  margin-left: 40px;
  height: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn2 {
  color: black;
  background-color: #ED6B5A ;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border-radius: 10%;
  margin-right: 40px;
  height: 30px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}