
header {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  
  background-color: #AB2A19;
  height: 10vh;
}

.headerdiv {
  margin-left: 150px;
}

form {
height: 350px;
width: 300px;

display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #3AD886;
margin-left: 1000px;

}
img {
  flex: 1;
  width: 50;
  height: 50;
  
 }